# local package
-e .

# external packages
click
numpy
pandas
scikit-learn
flask
fastapi
uvicorn
awscli
boto3
ruffus
gunicorn
python-dotenv
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
xgboost
mlflow
unittest2
pytest
pytest-cov
httpx
flake8
black
isort
 