# local package
-e .

# external packages
click
numpy
pandas>=2.0,<3
scikit-learn
flask
fastapi
uvicorn
awscli
boto3
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
ruffus
gunicorn
python-dotenv
xgboost
mlflow>=2.14.0
httpx
unittest2
pytest
pytest-cov
flake8
black
isort
 