# local package
-e .

# external packages
click
numpy
pandas
scikit-learn
flask
fastapi
uvicorn
awscli
boto3
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
ruffus
gunicorn
python-dotenv
xgboost
mlflow
protobuf==3.20.3
httpx
unittest2
pytest
pytest-cov
flake8
black
isort
 